<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">


    <context:component-scan base-package="controller,service,dao">
        <context:include-filter type="annotation" expression="org.aspectj.lang.annotation.Aspect"/>
    </context:component-scan>

    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close"
          p:driverClass="com.mysql.jdbc.Driver"
          p:jdbcUrl="jdbc:mysql://localhost:3306/tiletrans"
          p:user="root"
          p:password="weiyideni,21"
          p:maxPoolSize="30"
          p:minPoolSize="2"
          p:initialPoolSize="2"
          p:maxIdleTime="30"/>
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
          p:dataSource-ref="dataSource">
        <property name="annotatedClasses">
            <list>
                <value>entity.Clerk</value>
                <value>entity.Client</value>
                <value>entity.Clerk_Client</value>
                <value>entity.SalaryStandard</value>
                <value>entity.Order</value>
                <value>entity.Contract</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.jdbc.fetch_size">50</prop>
                <prop key="hibernate.connection.username">root</prop>
                <prop key="hibernate.connection.password">weiyideni,21</prop>
                <prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/tiletrans</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <!--session上下文-->
                <!--<prop key="hibernate.current_session_context_class">
                    org.springframework.orm.hibernate4.SpringSessionContext
                </prop>-->

            </props>
        </property>
    </bean>
    <!--配置hibernate事务管理-->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager"
          p:sessionFactory-ref="sessionFactory" />
     <tx:advice id="txAdvice" transaction-manager="transactionManager">
         <tx:attributes>
             <tx:method name="get*" read-only="true"/>
             <tx:method name="select*" read-only="true"/>
             <tx:method name="*" isolation="DEFAULT" propagation="REQUIRED" timeout="10"/>
         </tx:attributes>
     </tx:advice>
    <aop:config>
        <aop:pointcut id="tx" expression="execution(* controller.*.*(..))" />
        <aop:advisor advice-ref="txAdvice" pointcut-ref="tx"/>
    </aop:config>
</beans>