<component name="libraryTable">
  <library name="spring">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/web/lib/spring/spring-aop-4.0.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/lib/spring/spring-beans-4.0.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/lib/spring/spring-context-4.0.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/lib/spring/spring-orm-4.0.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/lib/spring/spring-instrument-tomcat-4.0.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/lib/spring/spring-aspects-4.0.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/lib/spring/spring-framework-bom-4.0.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/lib/spring/spring-messaging-4.0.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/lib/spring/spring-tx-4.0.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/lib/spring/spring-webmvc-portlet-4.0.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/lib/spring/spring-websocket-4.0.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/lib/spring/spring-instrument-4.0.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/lib/spring/spring-oxm-4.0.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/lib/spring/spring-jdbc-4.0.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/lib/spring/spring-web-4.0.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/lib/spring/spring-jms-4.0.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/lib/spring/spring-context-support-4.0.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/lib/spring/spring-webmvc-4.0.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/lib/spring/spring-expression-4.0.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/lib/spring/spring-core-4.0.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/lib/spring/spring-test-4.0.4.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>