<component name="libraryTable">
  <library name="springXjar">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/../../java/Libraries/ssh/springXjar" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/../../java/Libraries/ssh/springXjar" recursive="false" />
  </library>
</component>